<h1>Crear un nuevo Usuario</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Form is invalid</h2>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos %>
  </div>
  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">    
    <%= f.label :tipoUsuario %>
    <%= f.select :tipoUsuario, options_for_select([["Administrador", "Administrador"], ["Vendedor", "Vendedor"]])  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
